body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Balsamiq Sans', cursive;
}

header {
    text-align: center;
    padding: 30px 0;
}

header h1 {
    font-size: 34px;
    font-weight: 700;
}

main .biography {
    line-height: 30px;
    margin-bottom: 20px;
}

main p {
    padding-left: 20px;
    margin: 0;
    line-height: 50px;
}

main .question-asked {
    font-size: 20px;
    background-color: #b4f2e1;
    padding-left: 10px;
}

main p:nth-child(3) {
    background-color: #ecfbfc;
}

main p:nth-child(4) {
    background-color: #c3edea;
}

main p:nth-child(5) {
    background-color: #b4f2e1;
}

main p:nth-child(6) {
    background-color: #58b4ae;
}

main p:nth-child(7) {
    background-color: #00a1ab;
    color: #fff;
}

main p:nth-child(8) {
    background-color: #00263b;
    color: #fff;
}

.top-ten {
    margin-top: 30px;
}

.top-ten section {
    display: inline-block;
    width: 49%;
}

.top-ten section h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.top-ten section ul,ol {
    padding-left: 25px;
}

.top-ten section li {
    line-height: 35px;
    background-color: #f1f3f4;
}

.top-ten section li:nth-child(even) {
    background-color: #eeeeee;
}

.top-ten section ul li {
    list-style: circle;
}

.top-ten section ol li {
    list-style: decimal;
}

footer {
    /* position: fixed; */
    left: 0;
    /* bottom: 0; */
    width: 100%;
    background-color: #323232;
    color: white;
    text-align: center;
    margin-top: 30px;
    /* height: 70px; */
}

footer p {
    line-height: 50px;
}